*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

.section{
    background-color:rgb(231, 157, 169);
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
            
}

.box{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50% ;
    border: 3px solid rgb(104, 59, 27);
}

.content{
    position: absolute;
    inset: 7px;
    border: 2px solid aliceblue;
    z-index: 3;
    border-radius: 50%;
    background-color: aliceblue;
    overflow: hidden;
}

.content img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
}

.section h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    color:rgb(104, 59, 27) ;
}
.bt{
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bt button{
    height: 30px;
    width: 120px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:none;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
    background:  rgba(235,107,128,1);
}

.bt button:hover{
    opacity: 0.8;  
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main img{
    width: 120px;
    height: 120px;
    padding: 15px;
}

.main h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.todo-app{
    max-height: 230px;
    max-width: 400px;
    background: #fff;
    margin: 20px auto 20px;
    padding: 30px 30px 146px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
   
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
   
}

input{
    height:30px;
    flex: 1;
    border:none ;
    outline: none;
    background: transparent;
    padding: 10px;
    position: sticky;
}

#addToDo{
    border-radius: 30px;
    border: none;
    outline:none;
    padding: 9px 27px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#addToDo h2{
    color:rgba(235,107,128,1);
}

#list-container{
    max-height: 130px;
    overflow: hidden;
    overflow-y: scroll;
}
ul li{
    list-style: none;
    font-size: 14px;
    padding:13px 36px 10px;
    user-select: none;
    cursor: pointer;
    position: relative;  
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image:url(pictures/unchecked.png);
    background-size: cover;
    background-position: center;
    top:12px ;
    left:8px ;
   
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(pictures/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}





@media only screen and (min-width: 1000px){
    #list-container{
        overflow: hidden;
        overflow-y: scroll;
    }
}